<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <title>My Groups</title>
    <style>

.form-add {
  width: 60%;
}


.theGroup {
  width: 50%;
}


.inLine{
  display: inline;
}

.progresss {
  width: 100%;
  text-align: center;
}

.heading {
  color: #007bff;
  margin-left: 8%;
  padding-top: 40px;
  margin-bottom: 40;
}



.logo {
  float: left;
  white-space: nowrap;
}

.navbar{
  color: black;
}

.beam{
  background-color: white;
  height: 160px;
}

.pBar {
  width: 80%;
  text-align: center;
}
    </style>
</head>
<body>
<nav class="nav nav-pills flex-column flex-sm-row" style="margin-left: 0.5%; margin-right: 0.5%; margin-top: 1%; text-color: black;">
  <a class="flex-sm-fill text-sm-center nav-link active" href="/groups">My Groups</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="inbox">My Inbox</a>

       <a href="index" style="white-space: nowrap; margin-right: 3%; margin-left: 3%;" id="/" onclick="document.location=this.id;return false;" >
        <img src="/static/website/myFace.jpg" width="180" alt="myFace" /> </a>

       <a class="flex-sm-fill text-sm-center nav-link" href="profile">My Profile</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="logout">Logout</a>
   </nav>
    <div class="beam">
       <div class="heading">
            <h2>Check in with your groups</h2>
       </div>
        <hr style="margin-top: 3%;">
   </div>


<div class="left">
{% if groupExists == 0 %}
    <h2>Your groups</h2>
    <style>
.right {
  float: right;
  width: 35%;
  height: 100%;
  margin-right: 1%;
  margin-top: 0.5%;

}

.left {
  float: left;
  width: 60%;
  height: 100%;
  line-height: 1.6;
  margin-top: 0%;
  margin-left: 1.5%;
}
    </style>
{% else %}
    <h2></h2>
    {% if userPic == 1 %}
    <script>
        alert("Please set a profile picture first!");
    </script>
    {% endif %}
    <style>
.right {
  float: left;
  width: 50%;
  height: 100%;
  margin-right: 1%;
  margin-left: 1.5%;
  margin-top: 2%;

}
    </style>
{% endif %}

{% for groupName in groupNames %}
<div class="theGroup">
    <h4>
    <form action="/groups" method="post" >
        <button class="btn btn-outline-primary" name="groupIDD" value={{ groupName[0][2] }} style=""><span>{{ groupName[0][0]}}</span>
        </button>
    </form>
    </h4>
    Participants: {{ groupName[1] }}.
</div>
    <form action="/groups" method="post">
            <div class="form-group">
                <input class="form-control" style="float: left; width: 50%;" name="userAdd" placeholder="Add to group. Please separate using ','" type="text">
                <button class="btn btn-primary" type="submit" name="groupID" style="margin-left: 1.5%;" value={{ groupName[0][2] }}>Add to this group</button>
        </div>
</form>

<div class="pBar">
    <div id="{{groupName[0][2]}}" class={{ groupName[0][2] }}></div>
</div>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Group settings
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

<form action="/longtask" method="post">
    <button type="button" id={{ groupName[0][2] }} class="start-bg-job btn btn-outline-primary" onClick="reply_click(this.id)" name="bigJob" value={{ groupName[0][2] }}>Find myFace</button> <!--<button type="button" id="test" class="start-bg-job" name="bigJob" value={{ groupName[0][2] }}>Start Long Calculation</button> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</form>

<form action="/groups" method="post">
    <a href="/groups" target="blank">
        <button class="btn btn-outline-primary" style="margin-top: 4.5%;" type="submit" name="downloadAll" value={{ groupName[0][2] }}>Download all images</button>
    </a>
</form>

<form action="/groups" method="post">
    <a href="/groups" target="blank">
        <button class="btn btn-outline-primary" style="margin-top: 4.5%;" type="submit" name="downloadMy" value={{ groupName[0][2] }}>Download my images</button>
    </a>
</form>

      <form action="/groups" enctype="multipart/form-data" method="post">
        <div class="custom-file mb-3" style="float: left; margin-top: 0%; width: 70%;">
            <input type="file" class="custom-file-input" id="file" multiple="true" name="file">
            <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <div class="mt-3">
            <button type="submit" style="float: left; margin-left: 2%; margin-top: 0%;" class="btn btn-primary" name="imageID" value={{ groupName[0][2] }}>Upload</button>
        </div>
     </form>

    <form action="/groups" method="post">
      <button type="submit" class="btn btn-outline-danger" name="delete" value={{ groupName[0][2] }}>Quit this group</button>
    </form>

  </div>
</div>



<hr>

    {% endfor %}
    </div>

<div class="right">
    <h2 style="margin-bottom: 3%; ">Create a new Group</h2>
        <form action="/groups" method="post" >
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="groupName" placeholder="Groupname" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="userNames" placeholder="Add to group. Please separate using ','" type="text">
            </div>
        <button class="btn btn-primary" name="newGroup" value="origGroup" type="submit">Create Group</button>
        </form>
</div>

<script>
var bigID = 0
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});



        function start_long_task() {
            // add task status elements
            div = $('<div class="${bigID}"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');

            $(`#${bigID}`).append(div); <!--$('.${bigID}').append(div);-->
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                data: {
                bigID:bigID
                },
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        function reply_click(clicked_id)
        {
            bigID=clicked_id;

        }
        $(function() {
            $('.start-bg-job').click(start_long_task);
        });
</script>
</body>
</html>