<html>
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <title>
       My Inbox
   </title>
    <style>
        .push{
          margin-top: 1%;
          margin-left: 1.71%;
        }
        .text{
          margin-left: 1.3%;
        }
        .heading {
  color: 007bff;
  margin-left: 8%;
  padding-top: 40px;
  margin-bottom: 40;
}



.logo {
  float: left;
  white-space: nowrap;
}

.navbar{
  color: black;
}

.beam{
  background-color: white;
  height: 160px;
}
    </style>
</head>
   <body>
   <nav class="nav nav-pills flex-column flex-sm-row" style="margin-left: 0.5%; margin-right: 0.5%; margin-top: 1%; text-color: black;">
  <a class="flex-sm-fill text-sm-center nav-link" href="/groups">My groups</a>
  <a class="flex-sm-fill text-sm-center nav-link active" href="inbox">My Inbox</a>

       <a href="index" style="white-space: nowrap; margin-right: 3%; margin-left: 3%;" id="/" onclick="document.location=this.id;return false;" >
        <img src="/static/website/myFace.jpg" width="180" alt="myFace" /> </a>

       <a class="flex-sm-fill text-sm-center nav-link" href="profile">My Profile</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="logout">Logout</a>
   </nav>
   <div class="beam">
       <div class="heading">
            <h2>Current Activities in your Groups</h2>
       </div>
       <hr>
   </div>
   {% if noInvites == 0 %}
   <script>
       alert('No invites currently pending.');
   </script>
   {% endif %}


   <p id="test"></p>
    {% for groupName in groupNames %}
    <div class="text">
        You are invited to the group "{{ groupName[0][0]}}", created by {{ groupName[0][1]}}. <br>
        Known users include: {{ groupName[1] }}.
    </div>
    <div class="push">
        <form action="/inbox" method="post" >
         <button class="btn btn-primary" type="submit" name="groupID" value={{ groupName[0][2] }}a>Join this group</button>
         <button class="btn btn-primary" type="submit" name="groupID" value={{ groupName[0][2] }}d>Decline the invitation</button>
        </form>
    </div>
   <hr>

    {% endfor %}




   </body>
</html>