<html>
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
   <body>
   <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/">My ...</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/groups">My groups</a>
  <a class="flex-sm-fill text-sm-center nav-link active" href="inbox">My Inbox</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="profile">My Profile</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="logout">Logout</a>
   </nav>
   <p id="test"></p>
    {% for groupName in groupNames %}

    You are invited to the group "{{ groupName[0][0]}}", created by "{{ groupName[0][1]}}". Known users include: "{{ groupName[1] }}".
    <form action="/inbox" method="post" >
         <button type="submit" name="groupID" value={{ groupName[0][2] }}a>Join this group.</button>
         <button type="submit" name="groupID" value={{ groupName[0][2] }}d>Decline the invitation.</button>
    </form>
   <br><hr>

    {% endfor %}




   </body>
</html>